@import "compass";
@import "variables";
@import "directives/wlLightbox";

@include global-reset;

header {
	display: block;
	height: 50px;
	margin: 0 20px;
}
table { border-collapse: collapse; }
input {
	font: $font_lightest 16px helvetica, arial, sans-serif;
	margin: 0;
}
strong { font-weight: bold; }

ul {
	list-style: none;
	padding: 0;
}
html, body { height: 100%; } 
body {
	margin: 0;
	padding: 0;
	color: $text_color_1;
	background-color: $background_color_1_alt;
	font: $font_lightest 16px helvetica, arial, sans-serif;
	line-height: 1;
}

h1 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 20px;
}

p {
	line-height: 1.2;
	margin-bottom: 10px;
}

a, input, button { outline: none; }
a, a:visited, a:active {
	cursor: pointer;
	color: $base_color_1a;
	text-decoration: none;
}
.italic {
	font-style: italic;
}
a:hover { color: $base_color_1c; }

a.button-large, .button-large {
	padding: 9px 19px;
	line-height: 17px;
	font-size: 14px;
	color: $text_color_2;
	background-color: $background_color_2;
	border: 1px solid $line_color_3;
	cursor: pointer;
	@include box-shadow($shine_color_1 0 0 3px 0 inset);
	display: inline-block;
	&:hover { background-color: $background_color_6; }
	&.cta {
		color: $text_color_inverse_2;
		background-color: $base_color_1a;
		border: 1px solid $line_color_1;
		@include box-shadow($base_color_1c 0 0 3px 0 inset);
		&:hover { background-color: $base_color_1b; }
	}
	&.alert {
		background-color: $alert_color_1;
		color: $text_color_inverse_2;
		border: 1px solid $line_color_1;
		&:hover { background-color: $alert_color_1_alt; }
		&[class^="icon-"]:before { margin-right: 5px; }
	}
	.icon { margin-right: 5px; }
}

// Global helper classes

.container { @include pie-clearfix; }
.left { float: left; }
.right { float: right; }
.show { display: block; }
.hide { display: none; }

// forms

.form-error {
	color: $alert_color_1;
	position: absolute;
	margin-top: -8px;
	font-size: 12px;
	letter-spacing: 0.5px;
}

input[type=text], input[type=password], input[type=url], input[type=email], input[type=number] {
	padding: 8px 10px;
	font-size: 20px;
	color: $text_color_1;
	border: 1px solid $line_color_fadded_2;
	margin: 7px 0;
	&.ng-invalid.ng-dirty {
		background-color: $alert_color_background_1;
		border: 1px solid $alert_color_line_1;
	}
}


.login-button, .signup-button {
	padding: 5px 19px;
	font-size: 17px;
	cursor: pointer;
	letter-spacing: 1px;
}
.login-button {
	font-weight: bold;
	color: $base_color_1a;
	&:hover {
		text-shadow: 0 0 1px $shine_color_1;
		color: $base_color_1c;
	}
}
.signup-button {
	@include border-radius(5px);
	background-color: $base_color_1a;
	@include box-shadow($base_color_1c 0 0 3px 0 inset);
	color: $text_color_inverse_2;
	&:hover {
		background-color: $base_color_1c;
	}
}
.login-signup-ctas {
	float: right;
	margin-top: 16px;
	div {
		float: left;
		margin-left: 10px;
	}
}
.logged-in {
	float: right;
	position: relative;
	margin-top: 10px;
	>* {
		display: inline-block;
	}
}

.user-list li {
	overflow: hidden;
	border-bottom: 1px solid $line_color_fadded_1;
	cursor: pointer;
	&:first-child { border-top: 1px solid $line_color_fadded_1; }
	&:nth-child(odd) { background-color: $background_color_3; }
	&:hover {
		background-color: $background_color_6;
	}
	&.user-list-header {
		background-color: $background_color_inverse_3;
		font-weight: bold;
		.cell {
			color: $text_color_inverse_1;
			div {
				display: inline-block;
				margin-left: 10px;
				color: $text_color_fadded_2;
				font-size: 14px;
			}
			&:hover {
				color: $text_color_inverse_2;
				div { color: $text_color_fadded_4; }
			}
		}
	}
	&.disabled {
		color: $text_color_fadded_3;
		.icon-remove { display: none; }
	}
	.icon-remove {
		color: $text_color_fadded_1;
		float: right;
		padding: 5px;
		&:hover { color: $alert_color_1; }
	}
}
.cell {
	float: left;
	padding: 5px 20px 5px 10px;
	width: 100px;
	&.w200 { width: 200px; }
	&.w300 { width: 300px; }
}
.count {
	color: $text_color_fadded_1;
	margin: 10px;
}
.pagination {
	float: right;
	div {
		vertical-align: top;
		display: inline-block;
		color: $text_color_fadded_1;
		padding: 10px 5px 0 5px;
	}
	button {
		border: 0;
		background-color: transparent;
		color: $text_color_fadded_1;
		display: inline-block;
		font-size: 25px;
		padding: 3px;
		&:disabled { color: $text_color_fadded_3; }
	}
}

.container { margin: 20px; }

.menu {
	border-radius: 15px;
	padding: 10px 20px 9px 20px;
	cursor: pointer;
	position: relative;
	@include transition-property(background-color);
	@include transition-duration(0.1s);
	@include transition-timing-function(linear);
	.icon-angle-down { margin-left: 4px; }
	&:hover {
		background-color: $background_color_inverse_35;
		color: $text_color_inverse_2;
	}
	&.closed {
		ul {
			height: 0;
		}
	}
	&.opened {
		background-color: $background_color_inverse_35;
		color: $text_color_inverse_2;
		ul {
			height: 106px;
			background-color: $background_color_inverse_35;
		}
	}
	ul {
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 15px;
		padding: 0;
		letter-spacing: 1px;
		z-index: $z-index-menu;
		left: 0;
		border-radius: 0 0 15px 15px;
		@include transition-property(height);
		@include transition-duration(0.1s);
		@include transition-timing-function(linear);
	}
	li {
		padding: 0 15px;
		line-height: 2;
		color: $text_color_inverse_2;
		span { margin-right: 3px; }
		&:hover {
			background-color: $background_color_inverse_3;
		}
		&:first-child {
			margin-top: 30px;
		}
	}
}
.menu-title {
	position: relative;
	z-index: 32;
	>* { display: inline-block; }
	span {
		min-width: 85px;
		text-align: center;
		letter-spacing: 1px;
	}
}
