<div class="count">Number of users: {{count.value}}</div>
<ul class="user-list">
	<li class="user-list-header">
		<div class="cell w200" ng:click="changeSorting('username')">Username<div ng:class="selectedCls('username')"></div></div>
		<div class="cell w300" ng:click="changeSorting('email')">Email<div ng:class="selectedCls('email')"></div></div>
	</li>
	<li ng-repeat="user in users | orderBy:predicate:reverse" ng-class="user.deleted ? 'disabled' : ''">
		<div class="cell w200">{{user.username}}</div>
		<div class="cell w300">{{user.email}}</div>
		<div class="icon-remove" ng-click="remove(user)"></div>
	</li>
	<div ng-show="count.value > pageSize" class="pagination">
		<button ng-click="gotoPage(0)" ng-disabled="pageNumber == 0" class="icon-double-angle-left"></button>
		<button ng-click="gotoPage(pageNumber - 1)" ng-disabled="pageNumber == 0" class="icon-angle-left"></button>
		<div>{{pageNumber + 1}} / {{lastPageNumber() + 1}}</div>
		<button ng-click="gotoPage(pageNumber + 1)" ng-disabled="pageNumber == lastPageNumber()" class="icon-angle-right"></button>
		<button ng-click="gotoPage(lastPageNumber())" ng-disabled="pageNumber == lastPageNumber()" class="icon-double-angle-right"></button>
	</div>
</ul>
