<div class="wl-lightbox"
	ng-controller="lightboxCtrl"
	ng-click="close()"
	ng-keydown="$event.which === 27 && close()"
	ng-class="display.lightbox">
	<div class="modal" ng-class="openedModal" ng-click="$event.stopPropagation()">
		<div class="icon-remove" ng-click="close()"></div>
		<div class="form-error server-error" ng-show="serverError">{{serverError}}</div>
		<wl-login-modal ng-style="{'display': display.login}">
			<form name="loginForm">
				<div class="form-error" ng-show="loginForm.username.$invalid && showErrors">Username must be 5 characters minimum</div>
				<input
					class="modal-input"
					type="email"
					ng-minlength="5"
					ng-model="user.email"
					name="email"
					placeholder="Email"
					autocomplete="off"
					required>
				<div class="form-error" ng-show="loginForm.password.$invalid && showErrors">Password must be 5 characters minimum</div>
				<input
					class="modal-input"
					type="password"
					ng-minlength="5"
					ng-model="user.password"
					name="password"
					placeholder="Password"
					autocomplete="off"
					required>
				<div class="options">
					<div class="checkbox small">
						<input type="checkbox" ng-model="user.rememberme"/>
						<div class="checkbox-checkmark"></div>
						Remember me
					</div>
				</div>
				<div class="actions">
					<input type="button" ng-click="close()" value="Cancel" class="button-large"/>
					<input type="submit" ng-click="submit(loginForm, user)" value="Login" class="button-large cta"/>
				</div>
			</form>
		</wl-login-modal>
		<wl-signup-modal ng-style="{'display': display.signup}">
			<form name="signupForm">
				<div class="form-error" ng-show="settingsForm.email.$error.email && showErrors">Invalid email format</div>
				<input
					class="modal-input"
					type="email"
					ng-minlength="5"
					ng-maxlength="300"
					ng-model="user.email"
					ng-pattern="/\S+@\S+\.\S+/"
					name="email"
					placeholder="Email"
					autocomplete="off"
					required>
				<div class="form-error" ng-show="signupForm.password.$invalid && showErrors">Password must be 5 characters minimum</div>
				<input
					class="modal-input"
					type="password"
					ng-minlength="5"
					ng-model="user.password"
					name="password"
					placeholder="Password"
					autocomplete="off"
					required>
				<div class="form-error" ng-show="signupForm.passwordConfirm.$error.same && showErrors">This does not match the password you entered</div>
				<input
					class="modal-input"
					type="password"
					ng-minlength="5"
					name="passwordConfirm"
					ng-model="passwordConfirm"
					placeholder="Confirm password"
					wl-same-as="signupForm.password"
					autocomplete="off"
					required>
				<div class="actions">
					<input type="button" ng-click="close()" value="Cancel" class="button-large"/>
					<input type="submit" ng-click="submit(signupForm, user)" value="Sign me up!" class="button-large cta"/>
				</div>
			</form>
		</wl-signup-modal>
		<wl-settings ng-style="{'display': display.settings}" ng-click="isChoosePlaylistVisible = false">
			<form name="settingsForm">
				<div class="form-error" ng-show="settingsForm.email.$error.email && showErrors">Invalid email format</div>
				<input
					class="modal-input"
					type="email"
					ng-minlength="5"
					ng-maxlength="300"
					ng-model="user.email"
					ng-pattern="/\S+@\S+\.\S+/"
					name="email"
					placeholder="Email"
					required>
				<div class="password-toggle" ng-click="showPassword = true" ng-hide="showPassword">Change password</div>
				<div ng-show="showPassword" class="password-container">
					<div class="form-error" ng-show="settingsForm.password.$invalid && showErrors">Password must be 5 characters minimum</div>
					<input
						class="modal-input"
						type="password"
						ng-minlength="5"
						ng-model="user.password"
						name="password"
						placeholder="Current Password"
						autocomplete="off">
					<div class="form-error" ng-show="settingsForm.password.$invalid && showErrors">Password must be 5 characters minimum</div>
					<input
						class="modal-input"
						type="password"
						ng-minlength="5"
						ng-model="user.newPassword"
						name="newPassword"
						placeholder="New Password"
						autocomplete="off">
					<div class="form-error" ng-show="settingsForm.passwordConfirm.$error.same && showErrors">This does not match the password you entered</div>
					<input
						class="modal-input"
						type="password"
						ng-minlength="5"
						name="passwordConfirm"
						ng-model="passwordConfirm"
						placeholder="Confirm new password"
						wl-same-as="settingsForm.newPassword"
						autocomplete="off">
				</div>
				<div class="actions">
					<input type="button" ng-click="cancel()" value="Cancel" class="button-large"/>
					<input type="submit" ng-click="ok()" value="Update" class="button-large cta"/>
				</div>
			</form>
		</wl-settings>
	</div>
</div>