.nodin-lightbox {
	position: absolute;
	z-index: $z-index-lightbox;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&.track-edit .modal {
		width: 800px;
	}
	&.settings .modal {
		width: 400px;
		margin-top: 50px;
		.default-public-playlist {
			margin: 20px 0;
			position: relative;
			ul {
				position: absolute;
				top: 20px;
				left: 20px;
				padding: 10px;
				background-color: $background_color_inverse_1;
				border-radius: 5px;
				li a {
					padding: 3px 10px;
					display: block;
					&:hover {
						background-color: $background_color_3;
					}
				}
			}
		}
	}
	&.share-track {
		position: fixed;
		.modal { width: 400px; }
	}
	&.confirm { position: fixed; }
	&.share-playlist {
		.modal {
			width: 107px;
		}
	}
	&.sms .modal { width: 230px; }
	.modal {
		overflow: hidden;
		position: relative;
		margin: 150px auto 0;
		padding: 35px 20px 20px 20px;
		width: 300px;
		background: $background_color_1;
		@include box-shadow($shine_color_1 0 0 10px 0 inset, $drop_shadow_color_2 0 0 100px);
		>* { display: block; }
		.modal-input {
			width: calc(100% - 22px);
			margin-bottom: 15px;
		}
		.track-link {
			overflow: hidden;
			margin-bottom: 10px;
			input {
				width: calc(100% - 110px);
			}
			>* {
				float: left;
				display: block;
				color: $text_color_1;
			}
		}
		.sms, .fb, .twitter { font-size: 23px; }
		.email { font-size: 18px; }
		.email, .sms, .fb, .twitter {
			color: $text_color_1;
			line-height: 23px;
			padding: 9px 7px;
			margin: 7px 0 0 5px;
			cursor: pointer;
			width: 23px;
			border: 1px solid transparent;
			text-align: center;
			&:hover {
				background-color: $background_color_6;
				border: 1px solid $line_color_fadded_3;
			}
		}
		.phone-number {
			overflow: hidden;
			position: relative;
			margin-bottom: 10px;
			input {
				width: calc(100% - 90px);
				padding-left: 20px;
			}
			>* {
				float: left;
				display: block;
				color: $text_color_1;
			}
		}
		.icon-remove {
			position: absolute;
			right: -5px;
			top: -5px;
			padding: 8px 10px;
			background-color: $background_color_5;
			@include border-radius(15px);
			color: $text_color_3;
			cursor: pointer;
			&:hover {
				background-color: $background_color_6;
				color: $text_color_2;
			}
		}
		.actions {
			float: right;
			letter-spacing: 0.5px;
			font-size: 16px;
			margin-top: 15px;
			input { margin-left: 5px; }
		}
		.server-error {
			margin-top: -22px;
		}
	}

	.message {
		letter-spacing: 0.3px;
		line-height: 1.7;
		strong {
			white-space: nowrap;
		}
	}

	.password-toggle {
		color: #328d99;
		margin-top: 20px;
		cursor: pointer;
		float: left;
		font-size: 12px;
		letter-spacing: 0.8px;
	}

	.password-container {
		margin-top: 20px;
	}

	cropme {
		#cropme-cancel, #cropme-ok { display: none; }
	}
	.profile-picture-chooser { position: relative }
	.profile-picture img {
		width: 300px;
		margin: 0 auto;
		display: block;
		border: 1px solid $line_color_fadded_2;
	}
	.email-template { display: none; }

	nodin-progress-bar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.7;
		.progress-bar, .progress { height: 100%; }
	}

	nodin-login-modal  {
		.checkbox {
			float: left;
		}
		.forgot-password {
			margin: 5px 0 10px 0;
			float: right;
		}
		.options {
			overflow: hidden;
		}
	}
	.modal {
		nodin-share-playlist {
			overflow: hidden;
			.title {
				text-align: center;
				letter-spacing: 2px;
				margin-bottom: 5px;
				font-weight: bold;
				font-size: 13px;
			}
			.email, .sms, .fb, .twitter {
				display: block;
				float: left;
				padding: 9px;
				margin-right: 5px;
				border: 1px solid $line_color_fadded_3;
			}
		}
	}
	.checkbox.small {
		width: 150px;
		font-size: 12px;
		input {
			float: left;
			margin-right: 10px;
		}
	}
}

